.documenter .content,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu,
    Cantarell, "Noto Sans", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

.citation dl {
  display: grid;
  grid-template-columns: max-content auto; }
.citation dt {
  grid-column-start: 1; }
.citation dd {
  grid-column-start: 2;
  margin-bottom: 0.75em; }
.citation ul {
 padding: 0 0 2.25em 0;
 margin: 0;
 list-style: none !important;}
.citation ul li {
 text-indent: 5.25em;
 margin: 0.33em 0.5em 0.5em 2.25em;}
.citation ol li {
 padding-left:0.75em;}